body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

#header {
    background-color: coral;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container a {
    text-decoration: none;
    color: #fff;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 1%;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#nav-bar li {
    display: inline;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#nav-bar a:hover {
    color: red;
}

#nav-bar .log-ud {
    float: right;
    padding-right: 1%;
}

#main-section {
    float: left;
    width: 70%;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

#side-box {
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    height: 1050px;
}

@media(max-width:1000px) {
    #main-section {
        width:100%;
        float:none;
    }
}
    #side-box {
        width:100%;
        float: none;
}

img {
    width: 104.5%;
    height: 350px;
    display: block;
}

img.homework-img:hover, img.homework-img.focus, 
img.exercise-img:hover, img.exercise-img.focus,
img.progress-img:hover, img.progress-img.focus{
    width: 104%;
    height: 345px;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}