body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container a {
    text-decoration: none;
    color: #fff;
}

#header {
    background-color: tomato;
    color: #fff;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 1px;
}

#nav-bar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;

}

#nav-bar a:hover,
.klasser button:hover,
.opgaver button:hover {
    color: red;
}

.dropdown {
    display: flex;
    align-items: center;
}

.log-ud {
    position: absolute;
    right: 1%;
} 

.klasser,
.opgaver, .home{
    position: relative;
}

.klasser ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  height: max-content;
  background: #555;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.opgaver ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
  height: max-content;
  background: #555;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.klasser li,
.opgaver li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.klasser li:hover,
.opgaver li:hover {
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
  cursor: pointer;
}

.dropdown button{
  background: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.klasser button:focus + ul,
.opgaver button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 26.13%;
}
