body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container a {
    text-decoration: none;
    color: #fff;
}

#header {
    background-color: coral;
    color: #fff;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#nav-bar li {
    display: inline;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#nav-bar a:hover {
    color: red;
}

#logud {
    position: absolute; 
    right: 0.5%;
}

.navbutton {
    border: none;
    background: #333;
    pointer-events: all;
}

.navbutton a {
    font-size: 18px;
}

#fieldset {
    border: solid 2px;
}


.homework {
    border: solid black;
    width: 600px;
    height: 460px;
    display: inline-block;
    margin-right: 30px;
}

.operator {
    border: solid black;
    width: 300px;
    height: 460px;
    text-align: center;
    display: inline-block;
}

#main-section {
    width: 100vw;
    height: 80vh;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#homeworkcreate {
    text-align: center;
}

.homeworkbutton {
    font-size: 25px;
    margin-top: 5%;
    display: inline-block;
}

.homework h2 {
    font-size: 40px;
}

#task,
#answer {
    padding: 5px;
    margin-top: 5%;
    font-size: 50px;
    width: 545px;
}

.knap {
    background: none;
    border: solid black;
    font-size: 70px;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    cursor: pointer;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    bottom: 0;
}