body {
  background-color: rgb(255, 255, 255);
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0%;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.container a {
  text-decoration: none;
  color: #fff;
}

#header {
  background-color: coral;
  color: #fff;
}

.header {
  padding: 20px;
  width: max-content;
  margin-left: 5%;
  font-size: 55px;
  text-align: center;
  }

#nav-bar {
  background-color: #333;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}

#nav-bar ul {
  padding: 0;
  list-style: none;
  margin: 1px;
}

#nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

#nav-bar a:hover,
.classes button:hover,
.homework button:hover {
  color: red;
}

#main-section {
  width: 80vw;
  height: 77vh;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.dropdown {
  display: flex;
  align-items: center;
}

.logout {
  position: absolute;
  right: 1%;
}

.classes,
.homework, .home {
  position: relative;
}

.classes ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  height: max-content;
  background: #555;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.homework ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
  height: max-content;
  background: #555;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.classes li,
.homework li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classes li:hover,
.homework li:hover {
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
  cursor: pointer;
}

.dropdown button {
  background: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
}

.classes button:focus + ul,
.homework button:focus + ul {
  transform: translateY(0px);
  pointer-events:all;
  opacity: 1;
  z-index: 2;
}

.classes ul:hover,
.homework ul:hover {
  transform: translateY(0px);
  pointer-events:all;
  opacity: 1;
  z-index: 2;
}

.classes a,
.homework a {
  width: 100%;
}

#main-section {
  width: 50vw;
  height: 60vh;
  margin: 10px auto;
  display: flex;
  box-sizing: border-box;
  position: relative;
}

#types {
  border: solid black 1px;
  width: max-content;
  margin: auto;
  padding: 10px;
}

#types button {
  border: solid black 1px;
  background: none;
  cursor: pointer;
}

.header2 {
  text-align: center;
  font-size: 30px;
}

.form {
  border: solid black;
  height: 100%;
  width: 100%;
}

.form ul {
  list-style: none;
}

.knapper {
  display: block;
  margin: 550px auto;
  width: max-content;
} 

.sr {
  background-color: white;
  border: solid black 1px;
  cursor: pointer;
}

.sr:hover, #types button:hover {
  background-color: tomato;
}

#klasser {
  float: left;
  border: solid black 1px;
  width: 20%;
  height: 90%;  
  margin-left: 30px;
  overflow: auto;
}

#opgaver {
  float: right;
  border: solid black 1px;
  width: 20%;
  height: 90%;
  margin-right: 30px;
  overflow:auto;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
}
