body {
    background-color: rgb(255, 255, 255);
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container a {
    text-decoration: none;
    color: #fff;
}

#header {
    background-color: coral;
    color: #fff;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 1px;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#nav-bar a:hover,
.classes button:hover,
.homework button:hover {
    color: red;
}

#main-section {
  width: 80vw;
  height: 77vh;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.dropdown {
    display: flex;
    align-items: center;
}

.logout {
    position: absolute;
    right: 1%;
}

.classes,
.homework, .home {
    position: relative;
}

.classes ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  height: max-content;
  background: #555;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.homework ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
  height: max-content;
  background: #555;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.classes li,
.homework li,
.students li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classes li:hover,
.homework li:hover,
.students li:hover {
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
  cursor: pointer;
}

.dropdown button {
  background: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
}

.classes button:focus + ul,
.homework button:focus + ul,
.students button:focus + ul {
  transform: translateY(0px);
  pointer-events:all;
  opacity: 1;
  z-index: 2;
}

.classes ul:hover,
.homework ul:hover,
.students ul:hover {
  transform: translateY(0px);
  pointer-events:all;
  opacity: 1;
  z-index: 2;
}

.classes a,
.homework a {
  width: 100%;
}

.students button {
  width: 10vw;
  font-size: 18px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: none;
  z-index: 2;
  position: absolute;
  right: 65px;
  top: 65px;

}

.students ul {
  padding: 0;
  margin: 0px;
  position: absolute;
  right: 65px;
  top: 90px;
  margin-top: 0px;
  width: 10vw;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #555;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  overflow: auto;
  overflow-x: hidden;
  max-height: 400px;
}

.students a {
  color: #fff;
  width: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.students button:hover,
.students a:hover {
  color:red;
  text-decoration: none;
  z-index: 2;
}

#classbox {
  background-color: whitesmoke;
  border: 1px solid black;
  width: 35vw;
  min-height: 393px;
  position: absolute;
  left: 5px;
}

#studentbox {
  background-color:whitesmoke;
  border: 1px solid black;
  width: 40vw;
  min-height: 393px;
  max-height: 393px;
  position: absolute;
  right: 5px;
  overflow-y: auto;
}

.header {
  font-size: 55px;
  word-wrap: break-word;
  line-height: normal;
  position: absolute;
  left: 25px;
}

#studentinformation {
  font-size: 55px;
  word-wrap: break-word;
  line-height: normal;
  position: absolute;
  left: 25px;
  top: 55px;
}

#putStudentInfo {
  position: relative;
  float: left;
  margin-left: 25px;
  font-size: large;
  word-wrap: break-word;
}

#putClassInfo {
  position: absolute;
  left: 25px;
  top: 105px;
  font-size: large;
  word-wrap: break-word;
}

/*
#classbox p,
#studentbox p {
  position: relative;
  font-size:large;
  margin-left: 5%;
  word-wrap: break-word;
  float: left;
}
*/

@media(max-width:100%){
  #classbox {
    width: 100%;
    float: none;
  }
  #studentbox {
    width: 100%;
    float: none;
  }
}

#footer {
    background-color:#333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
