body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container a {
    text-decoration: none;
    color: #fff;
}

#header {
    background-color: coral;
    color: #fff;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#nav-bar li {
    display: inline;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#nav-bar a:hover {
    color: red;
}

#showcase {
    background-image: url(../images/placeholder.jpg);
    background-position: center right;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
    min-height: 300px;
    text-align: center;
}


#showcase h1 {
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    text-align: center;
}
#welcome {
    float: left;
    width: 60%;
    padding: 0px 30px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    height: 20vh;
}

#News {
    float: right;
    width: 40%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#News h2 {
    text-align: center;
}

#News p {
    padding: 10px;
}

@media(max-width:1000px) {
    #welcome {
        width:100%;
        float:none;
    }
}
    #News {
        width:100%;
        float: none;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.styled-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 250px;
    
}
