body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

#header {
    background-color: coral;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container a {
    text-decoration: none;
    color: #fff;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 1%;
    border-bottom: 5px solid gray;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#nav-bar li {
    display: inline;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 15px;
}

#nav-bar a:hover {
    color: red;
}

#nav-bar .log-ud {
    float: right;
    padding-right: 1%;
}

#main-section {
    float: left;
    width: 75vw;
    height: 75vh;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

#side-box {
    float: right;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    height: 75vh;
    max-width: 25vw;
    z-index: 1;
    position: absolute;
    right: 0;
    display: block;
    overflow: hidden;
}

@media(max-width:1000px) {
    #main-section {
        width:100%;
        float:none;
    }
}
    #side-box {
        width:100%;
        float: none;
}

img {
    width: 37.5vw;
    height: 37.5vh;
    display: block;
    float: left;
    text-align: center;
    position: relative;
}

/* Text over images begin */
.img-text-1 {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.img-text-2 {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.img-text-3 {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.img-text-4 {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.img-text-1 a,
.img-text-2 a,
.img-text-3 a,
.img-text-4 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.img-text-1 a:hover,
.img-text-2 a:hover,
.img-text-3 a:hover,
.img-text-4 a:hover {
    opacity: 0.9;
}
/* Text over images end */

img:hover {
    opacity: 0.6;
}

#side-box .character,
#side-box .statistics,
#side-box .homework-todo {
    border-bottom: 3px solid grey;
}


#side-box h3{
    text-align: center;
}

#side-box p,
#side-box .mat-emner{
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 150px;
    color: white;
}

.styled-table thead tr {
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr:last-of-type {
    border-bottom: 2px solid #dddddd;
    padding-bottom: 0;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody td.thing {
    border-right: thin solid #dddddd ;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
}


/* Homework page css */
.subject {
    display: block;
    margin-top: 15px;
    
}

/* More Exercises css */
.moreExercises {
    text-align: center;
    justify-content: center;
}

.moreExercises button {
    border: none;
    background: none;
    font-weight: 550;
    font-size: medium;
    cursor: pointer;
    display: block;
    padding: 16px 31.3px;
}

/* Natalia Reshetnikova; https://webdeasy.de/en/top-css-buttons-en/ */
div[class*=box] {
    height: 33.33%;
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    background-image: linear-gradient(to bottom right, #DE354C, #39CCCC);
  }

  .btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    pointer-events: all;
  }

.btn-one {
  color: #333;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  /*content: '';*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
/* Natalia Reshetnikova; https://webdeasy.de/en/top-css-buttons-en/ */


.problem {
    display: inline-block;
    outline: none;
    border: none;
    font-size: 22px;
    background-color:rgba(0, 0, 0, 0);
}

input[type=text]{
    font-size: 20px;
}

.svar {
    display: inline-block;
    font-size: 22px;
}

.break {
    display: block;
    margin-top: -1.5em;
 }

 .notCorrect {
    margin-top: -1em;
    text-decoration: underline;
    color:#DE354C
 }

 /* diverse page */
 .space {
    display: block;
    margin-bottom: 1em;
 }

 .subText {
     margin-top: -0.8em;
 }

 .welcomeCentering {
     text-align: center;
     margin-bottom: 3em;
     color: black;
 }

 .textInline p {
    margin-left: 25px;
    margin-bottom: 1.5em;
 }

 .textInline h3 {
    margin-left: 15px;
 }

 .textInline {
     color: black;
 }

/* Progress page css */

#wholePage {
    color: black;
    text-align: center;
    height: 80vh;
    width: 100vw;
}

.progressIntro {
    border-bottom: solid 5px grey;
}

.backgroundImg {
    background-image: url(../images/photo-1518562180175-34a163b1a9a6.jpg); /*Johannes Plenio*/
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    overflow: hidden;
    width: 100%;

}

/*bg image*/
.repeatingImg {
    background-image: url(../images/repeating-pattern.jpg); /*Vincent Burkhead*/
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
    z-index: -10;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/*bg image*/

.showLevelThings {
    width: 350px;
    height: 200px;
    justify-content: center;
    text-align: center;
    border: solid black;
    position: absolute;
    left: 15vw;
    top: 19vh;
    
}

#nuværendeXp{
    text-align: center;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.xpContainer {
    width: 80%; /* Full width */
    background-color: #ddd; /* Grey background */
    position: relative;
    justify-content: center;
    display: inline-block;
}

.bar {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}

.xp {
    width: 90%;
    background-color: #04AA6D;
    text-align: center;
}

/* https://catalin.red/stylish-css3-progress-bars/ */
.stripes {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%,
                      transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                      transparent 75%, transparent);
    animation: animate-stripes 3s linear infinite;
  }

  @keyframes animate-stripes {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 60px 0;
    }
  }
/* https://catalin.red/stylish-css3-progress-bars/ */

.showExerciseThings {
    color: black;
    float: right;
    border: solid black;
    width: auto;
    height: 388px;
    position: absolute;
    right: 21vw;
    top: 37vh
}

.inlineFix p {
    display: inline-block;
}

.styled-table2 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 150px;
    color: black;
}

.styled-table2 thead tr {
    color: black;
    text-align: left;
}

.styled-table2 th,
.styled-table2 td {
    padding: 12px 15px;
}

.styled-table2 thead tr:last-of-type {
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

.styled-table2 tbody tr {
    border-bottom: thin solid #333;
}

.styled-table2 tbody td.thing {
    border-right: thin solid #333 ;
}

.boldText {
    font-weight: 550;
}


/*Homework page*/
.centerHomework {
    position: relative;
    top: 30%;
}

.betterButtons {
    overflow: hidden;
    cursor: pointer;
}

.betterButtons :hover {
    font-weight: bold;
}
/*test*/