body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

#header {
    background-color: coral;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container a {
    text-decoration: none;
    color: #fff;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 1%;
    border-bottom: 5px solid gray;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#nav-bar li {
    display: inline;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#nav-bar a:hover {
    color: red;
}

#nav-bar .log-ud {
    float: right;
    padding-right: 1%;
}

#main-section {
    float: left;
    width: 75vw;
    height: 75vh;
    box-sizing: border-box;
    background-color: #f4f4f4;
    position: relative;
}

#side-box {
    float: right;
    width: 25vw;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    height: 75vh;
}

@media(max-width:1000px) {
    #main-section {
        width:100%;
        float:none;
    }
}
    #side-box {
        width:100%;
        float: none;
}

img {
    width: 37.5vw;
    height: 37.5vh;
    display: block;
    float: left;
    text-align: center;
    position: relative;
}

/* Text over images begin */
.img-text-1 {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.img-text-2 {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.img-text-3 {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.img-text-4 {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.img-text-1 a,
.img-text-2 a,
.img-text-3 a,
.img-text-4 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.img-text-1 a:hover,
.img-text-2 a:hover,
.img-text-3 a:hover,
.img-text-4 a:hover {
    opacity: 0.9;
}
/* Text over images end */

img:hover {
    opacity: 0.6;
}

#side-box .character,
#side-box .statistics,
#side-box .homework-todo {
    border-bottom: 3px solid grey;
}


#side-box h3{
    text-align: center;
}

#side-box p,
#side-box .mat-emner{
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 150px;
    color: white;
}

.styled-table thead tr {
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr:last-of-type {
    border-bottom: 2px solid #dddddd;
    padding-bottom: 0;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody td.thing {
    border-right: thin solid #dddddd ;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


/* Homework page css */
.subject {
    display: block;
    margin-top: 15px;
}

/* Progress page css */

#nuværendeXp{
    text-align: center;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.xpContainer {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.bar {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}

.xp {
    width: 90%;
    background-color: #04AA6D;
    text-align: center;
}