body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container a {
    text-decoration: none;
    color: #fff;
}

#header {
    background-color: coral;
    color: #fff;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#nav-bar li {
    display: inline;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#nav-bar a:hover {
    color: red;
}

#logud {
    position: absolute; 
    right: 0.5%;
}

.navbutton {
    border: none;
    background: #333;
    pointer-events: all;
}
.navbutton a {
    font-size: 18px;
}

.username {
    position: absolute;
    right: 7%;
}

#navigation {
    width: 75vw;
    height: 58vh;
    margin: auto;
    margin-top: 5%;
    display: block;
    box-sizing: border-box;
    background-color: #555;
    border: solid 2px black;
}

img {
    width: 33vw;
    height: 46vh;
    display: block;
    float: left;
    text-align: center;
    position: relative;
    border: solid 4px black;
}
 
img:hover {
    opacity: 0.6;
}

.homework-page,
.class-page {
    margin-left: 3%;
    margin-top: 3%;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 32%;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    transform: translate(-50%, -50%);
}

.image-text2 {
    position: absolute;
    top: 50%;
    left: 68%;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    transform: translate(-50%, -50%);
}

.image-text a,
.image-text2 a {
    text-decoration: none;
    color: rgb(250, 246, 27);
    text-shadow: 0px 0px 3px black;
}

.image-text a:hover,
.image-text2 a:hover {
    opacity: 0.9;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 126px;
}

#nav-bar {
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 1px;
}

#nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


#main-section {
  width: 80vw;
  height: 77vh;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.logout {
  position: absolute;
  right: 1%;
}

#nav-bar a:hover,
.classes button:hover,
.homework button:hover {
    color: red;
}

.dropdown {
    display: flex;
    align-items: center;
}

.classes,
.homework {
    position: relative;
}

.homework ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
  height: max-content;
  background: #555;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.homework li{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.homework li:hover {
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
  cursor: pointer;
}

.dropdown button {
  background: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
}

.homework button:focus + ul {
  transform: translateY(0px);
  pointer-events:all;
  opacity: 1;
  z-index: 2;
}

.homework ul:hover {
  transform: translateY(0px);
  pointer-events:all;
  opacity: 1;
  z-index: 2;
}

.classes a,
.homework a {
  width: 100%;
}